<form action="/dashboard/addstation" method="POST">
  <div class="field">
    <label class="label">Add Station Title</label>
    <div class="field is-flex">
      <div class="field-wrapper">
        <input class="input" type="text" placeholder="Enter station title" name="title">
      </div>
      <div class="field-wrapper">
        <input class="input input-number" type="number" placeholder="Latitude" name="latitude">
      </div>
      <div class="field-wrapper">
        <input class="input input-number" type="number" placeholder="Longitude" name="longitude">
      </div>
      <button class="button is-link">Add Station</button>
    </div>
  </div>
</form>
