{{#each stations}}
<div class="box box-link-hover-shadow box-flex-row">
  <h2 class="title">
    {{title}}
  </h2>
  <a href="/dashboard/addreading/{{_id}}" class="button is-link">
    <i class="fas fa-plus"></i>
  </a>
</div>
{{/each}}
